<section class="languages">
  <div class=section-title-div>
    <h2 class="section-title">Lenguajes</h2>
  </div>
  <div class="edu-offer-div">
    {% for language in school_lang_list %}
    <div class="stage language">
      <h4>{{ language.language }}</h4>
      {% if language.is_obligatory is true %}
        <p>Obligatorio</p>
      {% else %}
        <p>Opcional</p>
      {% endif %}
      <p>Desde {{ language.starting_age }} años</p>
      <p>{{ language.weekly_hours }} horas semanales</p>
      <p class="stage-presentation">{{ language.description }}</p>
    </div>
    {% endfor %}
    {% if school.first_language %}
    
    {% endif %}
    {% if school.second_language %}
    <div class="stage language">
      <h4>{{ school.second_language }}</h4>
      <p>{{ school.optionality_second_language }}</p>
      <p class="stage-presentation">{{ school.description_second_language }}</p>
    </div>
    {% endif %}
    {% if school.third_language %}
    <div class="stage language">
      <h4>{{ school.third_language }}</h4>
      <p>{{ school.optionality_third_language }}</p>
      <p class="stage-presentation">{{ school.description_third_language }}</p>
    </div>
    {% endif %}
    {% if school.fourth_language %}
    <div class="stage language">
      <h4>{{ school.fourth_language }}</h4>
      <p>{{ school.optionality_fourth_language }}</p>
      <p class="stage-presentation">{{ school.description_fourth_language }}</p>
    </div>
    {% endif %}
  </div>
</section>