{% extends "base.html" %}

{% block title %}
Soleed - Editar Colegio
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block script1 %}
{{ super() }}
{% endblock %}


{% block main %}
  <section class="login">
    <form action="" method="POST" novalidate class="language-form" id="language-form"></form>
    <form action="" method="POST" novalidate class="edit-language-form" id="edit-language-form"></form>
    <form action="" method="POST" novalidate class="remove-language-form" id="remove-language-form"></form>
    <div class="login-div">
      <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="page1" id="form-sec1">
          <h1>Editar Colegio</h1>
          <p>
            {{ form.name.label }} <br>
            {{ form.name(size=32) }} <br>
            {% for error in form.name.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.telephone.label }} <br>
            {{ form.telephone(size=32) }} <br>
            {% for error in form.telephone.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.webpage.label }} <br>
            {{ form.webpage(size=64) }} <br>
            {% for error in form.webpage.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.email.label }} <br>
            {{ form.email(size=64) }} <br>
            {% for error in form.email.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.code_number.label }} <br>
            {{ form.code_number(size=32) }} <br>
            {% for error in form.code_number.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.number_pupils.label }} <br>
            {{ form.number_pupils(size=32) }} <br>
            {% for error in form.number_pupils.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          {% if school.religious is false %}
            <p id="school-religious" class="hide">religious-1</p>
          {% elif school.religious is true %}
            <p id="school-religious" class="hide">religious-0</p>
          {% endif %}
          <p>
            {{ form.religious.label }} <br>
            {{ form.religious(onchange="radioToggler('religious-0', 'religious-1', 'form-religion', 'show', 'hide')")}} <br>
            {% for error in form.religious.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p class="hide" id="form-religion">
          {{ form.religion.label }} <br>
          {{ form.religion }} <br>
          {% for error in form.religion.errors %}
          <span class="error">[{{ error }}]</span>
          {% endfor %}
          </p>
          <button class="page-bt" id="button1" onclick="nextPage(event, 1)">Next</button>
        </div>
        <div class="page2" id="form-sec2">
          <h1>Editar Colegio</h1>
          <p class="hide" id="address-search">
            {{ form.address_search.label }} <br>
            {{ form.address_search(size=32) }} <br>
            {% for error in form.address_search.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p><button id="search-address-bt" onclick="simplyToggleElement(event, 'address-search', 'show')">
            Cambiar la dirección</button></p>
          <div>
            <p>
              {{ form.address.label }} <br>
              {{ form.address(size=32, id='route') }} <br>
              {% for error in form.address.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.street_number.label }} <br>
              {{ form.street_number }} <br>
              {% for error in form.street_number.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.city.label }} <br>
              {{ form.city(size=32, id='locality') }} <br>
              {% for error in form.city.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.subregion.label }} <br>
              {{ form.subregion(size=32, id='administrative_area_level_2') }} <br>
              {% for error in form.subregion.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.region.label }} <br>
              {{ form.region(size=32, id='administrative_area_level_1') }} <br>
              {% for error in form.region.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.borough.label }} <br>
              {{ form.borough(size=32) }} <br>
              {% for error in form.borough.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.zone.label }} <br>
              {{ form.zone(size=32) }} <br>
              {% for error in form.zone.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.postcode.label }} <br>
              {{ form.postcode(size=32, id='postal_code') }} <br>
              {% for error in form.postcode.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p id="form-country">
              {{ form.country.label }} <br>
              {{ form.country(size=32, id='country') }} <br>
              {% for error in form.country.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
          </div>
          <p>
            {{ form.location_description.label }} <br>
            {{ form.location_description(cols=50, rows=4) }} <br>
            {% for error in form.location_description.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <button class="page-bt" onclick="previousPage(event, 2)">Previous</button>
          <button class="page-bt" onclick="nextPage(event, 2)">Next</button>
        </div>
        <div class="page3" id="form-sec3">
          <h1>Editar Colegio</h1>
          <p class="checkbox-holder">
            {{ form.educational_offer.label }} <br>
            {{ form.educational_offer(onchange="multipleRadioToggler(event, ['educational_offer-0', 
            'educational_offer-1', 'educational_offer-2', 'educational_offer-3', 
            'educational_offer-4', 'educational_offer-5'], ['type1', 'type2', 'type3', 'type4', 
            'type5', 'type6'], 'show')") }} <br>
            {% for error in form.educational_offer.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
            <p id="edu-offer-lst" class="hide">{{ edu_offer_lst }}</p>
          </p>
          <div id="form-funding-div">
            {% if school.infantil_primer_ciclo %}
              <div id="type1" class="hide show">
            {% else %}
              <div id="type1" class="hide">
            {% endif %}
                <p>
                  {{ form.infantil_primer_ciclo_type.label }} <br>
                  {{ form.infantil_primer_ciclo_type }} <br>
                  {% for error in form.infantil_primer_ciclo_type.errors %}
                  <span class="error">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.description_infantil_primer_ciclo.label }} <br>
                  {{ form.description_infantil_primer_ciclo(cols=50, rows=4) }} <br>
                  {% for error in form.description_infantil_primer_ciclo.errors %}
                  <span class="error">[{{ error }}]</span>
                  {% endfor %}
                </p>
              </div>
            {% if school.infantil %}
              <div id="type1" class="hide show">
            {% else %}
              <div id="type1" class="hide">
            {% endif %}
                <p>
                  {{ form.infantil_type.label }} <br>
                  {{ form.infantil_type }} <br>
                  {% for error in form.infantil_type.errors %}
                  <span class="error">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.description_infantil.label }} <br>
                  {{ form.description_infantil(cols=50, rows=4) }} <br>
                  {% for error in form.description_infantil.errors %}
                  <span class="error">[{{ error }}]</span>
                  {% endfor %}
                </p>
              </div>
            {% if school.primaria %}
              <div id="type1" class="hide show">
            {% else %}
              <div id="type1" class="hide">
            {% endif %}
                <p>
                  {{ form.primaria_type.label }} <br>
                  {{ form.primaria_type }} <br>
                  {% for error in form.primaria_type.errors %}
                  <span class="error">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.description_primaria.label }} <br>
                  {{ form.description_primaria(cols=50, rows=4) }} <br>
                  {% for error in form.description_primaria.errors %}
                  <span class="error">[{{ error }}]</span>
                  {% endfor %}
                </p>
              </div>
            {% if school.secundaria %}
              <div id="type1" class="hide show">
            {% else %}
              <div id="type1" class="hide">
            {% endif %}
                <p>
                  {{ form.secundaria_type.label }} <br>
                  {{ form.secundaria_type }} <br>
                  {% for error in form.secundaria_type.errors %}
                  <span class="error">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.description_secundaria.label }} <br>
                  {{ form.description_secundaria(cols=50, rows=4) }} <br>
                  {% for error in form.description_secundaria.errors %}
                  <span class="error">[{{ error }}]</span>
                  {% endfor %}
                </p>
              </div>
            {% if school.bachillerato %}
              <div id="type1" class="hide show">
            {% else %}
              <div id="type1" class="hide">
            {% endif %}
                <p>
                  {{ form.bachillerato_type.label }} <br>
                  {{ form.bachillerato_type }} <br>
                  {% for error in form.bachillerato_type.errors %}
                  <span class="error">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.description_bachillerato.label }} <br>
                  {{ form.description_bachillerato(cols=50, rows=4) }} <br>
                  {% for error in form.description_bachillerato.errors %}
                  <span class="error">[{{ error }}]</span>
                  {% endfor %}
                </p>
              </div>
            {% if school.formación_profesional %}
              <div id="type1" class="hide show">
            {% else %}
              <div id="type1" class="hide">
            {% endif %}
                <p>
                  {{ form.formación_profesional_type.label }} <br>
                  {{ form.formación_profesional_type }} <br>
                  {% for error in form.formación_profesional_type.errors %}
                  <span class="error">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.description_formación_profesional.label }} <br>
                  {{ form.description_formación_profesional(cols=50, rows=4) }} <br>
                  {% for error in form.description_formación_profesional.errors %}
                  <span class="error">[{{ error }}]</span>
                  {% endfor %}
                </p>
              </div>
            <p>{{ edu_offer }}</p>
          </div>
          <button class="page-bt" onclick="previousPage(event, 3)">Previous</button>
          <button class="page-bt" onclick="nextPage(event, 3)">Next</button>
        </div>
        <div class="page4" id="form-sec4">
          <h1>Editar Colegio</h1>
          <p>
            {{ form.headteacher.label }} <br>
            {{ form.headteacher(size=40) }} <br>
            {% for error in form.headteacher.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.headteacher_email.label }} <br>
            {{ form.headteacher_email(size=40) }} <br>
            {% for error in form.headteacher_email.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.headteacher_title.label }} <br>
            {{ form.headteacher_title }} <br>
            {% for error in form.headteacher_title.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.director_message.label }} <br>
            {{ form.director_message(cols=50, rows=4) }} <br>
            {% for error in form.director_message.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.bulletpoint_presentation.label }} <br>
            {{ form.bulletpoint_presentation(cols=50, rows=4) }} <br>
            {% for error in form.bulletpoint_presentation.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.bulletpoint_methods_and_priorities.label }} <br>
            {{ form.bulletpoint_methods_and_priorities(cols=50, rows=4) }} <br>
            {% for error in form.bulletpoint_methods_and_priorities.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.bulletpoint_specialities.label }} <br>
            {{ form.bulletpoint_specialities(cols=50, rows=4) }} <br>
            {% for error in form.bulletpoint_specialities.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <button class="page-bt" onclick="previousPage(event, 4)">Previous</button>
          <button class="page-bt" onclick="nextPage(event, 4)">Next</button>
        </div>
        <div class="page5" id="form-sec5">
          <h1>Editar Colegio</h1>
          <p>¿Es bilingüe/trilingüe?</p>
          <div id="language-booleans">
            <p class="inline-block lang-bool">
              {{ form.monolingual.label }} <br>
              {{ form.monolingual }} <br>
              {% for error in form.monolingual.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p class="inline-block">
              {{ form.bilingual.label }} <br>
              {{ form.bilingual }} <br>
              {% for error in form.bilingual.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p class="inline-block">
              {{ form.trilingual.label }} <br>
              {{ form.trilingual }} <br>
              {% for error in form.trilingual.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
          </div>
          <div id="languages">
            <h2>Idiomas:</h2>
            {% for language in school_lang_list %}
              <p>{{ language.language}}</p>
              <div>
                {% if language.is_obligatory is true %}
                  <p class="inline-block">Obligatorio <span>-</span></p>
                {% elif language.is_obligatory is false %}
                  <p class="inline-block">Opcional <span>-</span></p>
                {% endif %}
                
                <p class="inline-block">Desde {{ language.starting_age }} años <span>-</span></p>
                <p class="inline-block">{{ language.weekly_hours }} horas a la semana</p>
              </div>
              
              <p>Descripción: <span>{{ language.description }}</span></p>
            {% endfor %}
          </div>
          <div id="add-language-div" class="hide">
            {% include 'sub-templates/_language-form.html' %}
            
          </div>
          <div id="edit-language-div" class="hide">
            {% include 'sub-templates/_edit-language-form.html' %}
          </div>
          <div id="remove-language-div" class="hide">
            {% include 'sub-templates/_remove-language-form.html' %}
          </div>
          <button id="add-language-bt" onclick="toggleElement(event, 'add-language-div', 'show', 
          'add-language-bt', 'Añadir un idioma', 'No quiero añadir idioma')">Añadir un idioma</button>
          <button id="edit-language-bt" onclick="toggleElement(event, 'edit-language-div', 'show', 
          'edit-language-bt', 'Editar un idioma', 'Rechazar los cambios')">Editar un idioma</button>
          <button id="remove-language-bt" onclick="toggleElement(event, 'remove-language-div', 'show', 
          'remove-language-bt', 'Eliminar un idioma', 'No quiero eliminar un idioma')">Eliminar un idioma</button>
           <br>
          <button class="page-bt" onclick="previousPage(event, 5)">Previous</button>
          <button class="page-bt" onclick="nextPage(event, 5)">Next</button>
          <p>{{ form.submit() }} </p>
        </div>
        <p>am i inside the form?</p>

        <div class="page6" id="form-sec6">
          <h1>Editar Colegio - Instalaciones</h1>
          <div>
            <p>
              {{ form.patio_separado_infantil }}
              {{ form.patio_separado_infantil.label }} <br>
              {% for error in form.patio_separado_infantil.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.library }}
              {{ form.library.label }} <br>
              {% for error in form.library.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.vegetable_garden }}
              {{ form.vegetable_garden.label }} <br>
              {% for error in form.vegetable_garden.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
            {{ form.sports_facilities.label }} <br>
            {{ form.sports_facilities }} <br>
            {% for error in form.sports_facilities.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.facilities_information.label }} <br>
            {{ form.facilities_information(cols=40, rows=4) }} <br>
            {% for error in form.facilities_information.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </p>
          </div>
          <button class="page-bt" onclick="previousPage(event, 6)">Previous</button>
          <button class="page-bt" onclick="nextPage(event, 6)">Next</button>
          <p>{{ form.submit() }} </p>
        </div>
        
        
      </form>
      
    </div>
  </section>

{% endblock %}

{% block footer %}
{% endblock %}

{% block script2 %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/school_edit_form.js')}}"></script>

  <script src="{{ url_for('static', filename='js/autocomplete.js')}}"></script>

  <script src="{{ url_for('static', filename='js/languageForm.js')}}"></script>

  <script type="text/javascript" defer
  src="https://maps.googleapis.com/maps/api/js?key={{ googleAPI }}&callback=initAutocomplete&libraries=places"></script>
{% endblock %}