{% extends "base.html" %}



{% block title %}
Soleed - {{ school.name }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block main %}
{% if pictures.banner is not sameas none %}
  <img class="banner-img" src="{{ pictures.banner }}" alt="toBeImplemented">
{% else %}
  {{ super() }}
{% endif %}
  <section class="info">
    <h1 class="school-title">{{ school.name }}</h1>
    <div class="info-div school-info">
      {% if school.address %}
        <p class="a_d address">{{ school.address }}, {{ school.street_number }}</p>
      {% endif %}
        <p class="a_d address"><span>Tel:</span>{{ school.telephone }}</p>
      {% if school.webpage %}
        <p class="a_d address">{{ school.webpage }}</p>
      {% endif %}
      {% if school.email %}
        <p class="a_d address">{{ school.email }}</p>
      {% endif %}
      <p class="a_d id"><span>Código del centro:</span>{{ school.code_number }}</p>
    </div>
    <div class="info-div education-info">
      <p class="e-info stages">Enseñanzas impartidas: 
        {% if school.infantil_primer_ciclo is true %}
            <span>Infantil Primer Ciclo</span>
        {% endif %}
        {% if school.infantil is true %}
            <span>Infantil</span>
        {% endif %}
        {% if school.primaria is true %}
            <span>Primaria</span>
        {% endif %}
        {% if school.secundaria is true %}
            <span>Secundaria</span>
        {% endif %}
        {% if school.bachillerato is true %}
            <span>Bachillerato</span>
        {% endif %}
        {% if school.formación_profesional is true %}
            <span>Formación Profesional</span>
        {% endif %}
      </p>
      <p class="e-info org">Centro 
        {% if público %}
          <span>Público ({{ público}})</span>
        {% endif %}
        {% if concertado %}
          <span>Concertado ({{ concertado }})</span>
        {% endif %}
        {% if privado %}
          <span>Privado ({{ privado }})</span>
        {% endif %}
      </p>
      {% if school.number_pupils %}
        <p class="e-info pupil-number">Número de alumnos: {{ school.number_pupils }}</p>
      {% endif %}
      <p class="e-info">
        {% if school.religious is false %}
          <span>Colegio laico</span>
        {% elif school.religion %}
          <span>Colegio religioso: {{ school.religion }}</span> 
        {% endif %}
      </p>
      {% if school.trilingual is true %}
      <p class="e-info">Trilingüe ({{ school.first_language }}, {{school.second_language }})</p>
      {% elif school.bilingual is true %}
      <p class="e-info">Bilingüe ({{ school.first_language }})</p>
      {% endif %}
    </div>
    {% if opinions %}
      <div class="total-score">
        {% set number_opinions = opinions.opinions | length() %}
        {% set general_score = opinions.opinions | sum(attribute='general_score') / number_opinions %}
        {% set teachers_score = opinions.opinions | sum(attribute='teachers_score') / number_opinions %}
        {% set faculties_materials_score = opinions.opinions | sum(attribute='faculties_materials_score') / number_opinions %}
        {% set communication_accessibility_score = opinions.opinions | sum(attribute='communication_accessibility_score') / number_opinions %}
        {% set total_score = (general_score + teachers_score + faculties_materials_score + communication_accessibility_score) / 4 %}
        <p>{{ total_score | round(1) }} ({{ number_opinions }} valoraciones)</p>
      </div>
    {% endif %}
    
  </section>

  {% if school.bulletpoint_presentation %}
    {% include 'sub-templates/_teasers.html' %}
  {% endif %}

  <div>
    {% if pictures.presentation %}
    <img class="pupils-img" src="{{ pictures.presentation }}" alt="toBeImplemented">
    {% else %}
    <img class="pupils-img" src="../static/images/teachers-mid.jpg" alt="teachers in front of a blackboard">
    {% endif %}
    
  </div>

  {% if school.director_message %}
    {% include 'sub-templates/_salute.html' %}
  {% endif %}

  {% if school.director_message %}
    <div class="separator-1"></div>
  {% endif %}

  {% if público or concertado or privado %}
    {% include 'sub-templates/_edu-offer.html' %}
  {% endif %}

  {% if facilites_list or school.sports_facilities %}
    <div class="separator-2"></div>
    {% include 'sub-templates/_facilities.html' %}
    <div>
      {% if pictures.facilities %}
      <img class="sports-img" src="{{ pictures.facilities }}" alt="toBeImplemented">
      {% else %}
      <img class="sports-img" src="../static/images/football-full.jpg" alt="children at football practice">
      {% endif %}
    </div>
  {% elif pictures.facilities %}
    <div>
      <img class="sports-img" src="{{ pictures.facilities }}" alt="toBeImplemented">
    </div>
  {% else %}
  <div class="separator-2"></div>
  {% endif %}

  {% if school_lang_list %}
    {% include 'sub-templates/_languages.html' %}
    <div class="separator-1"></div>
  {% endif %}

  {% if school.canteen or school.horario_ampliado or school.extracurricular_activities or school.nurse or school.school_bus %}
    {% include 'sub-templates/_services.html' %}
    <div class="separator-2"></div>
  {% endif %}

  {% if opinions %}
    {% include 'sub-templates/_opinions.html' %}
  {% endif %}

  {% if school.address and school.location_description %}
    {% include 'sub-templates/_location.html' %}
  {% endif %}

  {% endblock %}

  {% block script2 %}
    {{ super() }}
    
  {% endblock %}